.chat-list {
  height: 100%;
  overflow-y: auto;
}

.chat-list::-webkit-scrollbar {
  width: 6px;
}

.chat-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chat-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.chat-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-list-loading,
.chat-list-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #999;
}



